src/main/mule/jenkinspoc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fcba3761-ba29-4114-8ad3-de6cbfc1c933" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="c2630132-baee-4957-8733-6faaf43577d2" file="config.yaml" />
	<flow name="jenkinspocFlow" doc:id="d469a121-5580-4f15-8459-ddd79b12a96a" >
		<http:listener doc:name="Listener" doc:id="07718118-af12-4244-b28a-1ebd792f69bf" config-ref="HTTP_Listener_config" path="/check"/>
		<set-payload value='#["hello world!"]' doc:name="Set Payload" doc:id="fb8d94e8-a1e3-42f2-bd36-31cfa72b6448" />
	</flow>
</mule>
